/* Styling for all language chooser tabsets */

div[data-group="language"] .tab-content {
  padding: 0;
  padding-right: 1rem;
  padding-top: 1rem;
  border: none;
}

/* Styling for the top language chooser tabset */

div[data-group="language"]#language-chooser .nav-tabs {
  display: flex;
  justify-content: flex-start;
}

div[data-group="language"]#language-chooser  .nav-tabs .nav-link.active, 
div[data-group="language"]#language-chooser  .nav-tabs .nav-item.show .nav-link {
  background-color: rgb(80,146,221);
  color: white;
}

div[data-group="language"]#language-chooser  .nav-tabs .nav-link:hover { 
  border-color: rgb(80,146,221);
} 


/* Styling for all but the top language chooser tabset */

div[data-group="language"]:not(#language-chooser) .nav-tabs {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}


div[data-group="language"]:not(#language-chooser) .nav-tabs .nav-link {
  border: none;
  margin-right: 0;
  margin-top: 0;
  border-radius: 0;
  width: auto;
  padding: 0.25rem 0.5rem;
}


div[data-group="language"]:not(#language-chooser) .nav-tabs .nav-link.active, 
div[data-group="language"]:not(#language-chooser) .nav-tabs .nav-item.show .nav-link {
  border-bottom: solid;
  border-width: 2px;
}

div[data-group="language"]:not(#language-chooser) .nav-tabs .nav-link:hover { 
  border-bottom: solid;
  border-color: rgb(80,146,221);
  border-width: 2px;
} 
