
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  color: inherit;
  width: 102px;
  font-size: 0.8em;
}

.nav-tabs .nav-link, 
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  border: 1px solid  rgb(222, 226, 230);
  border-radius: 10px;
}
.nav-tabs .nav-link:hover {
   border-color: rgb(80,146,221);
   border-width: 1px;
} 

.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  border-color: rgb(80,146,221);
  border-width: 2px;
}

.nav-tabs .nav-link img {
  width: 65px;
  height: 65px;
  display: block;
  margin-bottom: 2px;
}

#text-editor-logo {
  opacity: 0.7;
}

#choose-your-tool h3 {
  max-width: 70px;
  margin-right: 25px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: right;
  vertical-align: center;
  display: none;
}

@media(min-width: 1320px) {
#choose-your-tool h3 {
  display: initial; 
}
} 

  
.step {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.step h2 {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.step h4 {
  margin-top: 0;
}

.step #download-button {
  margin-top: 0;
  padding-top: 0;
}

.step .btn-action {
  font-size: 1.1em;
}

.step .btn-action svg {
  margin-top: 5px;
}

.step .table>:not(caption)>*>* {
  border-bottom-width: 0;
}

.tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}

.tool a[role="button"] {
  width: 100px;
  color: rgb(55, 58, 60);
  text-align: center;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.85em;
}

.tool .btn-outline-light:hover {
  border-color: rgb(80,146,221);
  background-color: transparent;
}

.tool a[role="button"] img {
  display: block;
  width: 67px;
  height: 67px;
  margin: auto;
  margin-bottom: 5px;
}



