.Rproj.user
.DS_Store
.Rhistoryt
.Rhistory
/.quarto/
/_*.local
/.venv/
/.condaenv/
*_cache/
/env/
/_site/
/.venv/


/.luarc.json

# Use pipenv to manage dependencies
# so we don't want to track this file in git
requirements.txt
