[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
colorama = {version = "*", markers="sys_platform == 'win32'"}
pywin32 = {version = "*", markers="sys_platform == 'win32'"}
pywinpty = {version = "*", markers="os_name == 'nt'"}
appnope = {version = "*", markers="sys_platform == 'darwin'"}
pexpect = {version = "*", markers="sys_platform != 'win32'"}
ptyprocess = {version = "*", markers="sys_platform != 'win32'"}
matplotlib = "*"
ipython = "*"
tabulate = "*"
great-tables = "*"
pandas = "*"
altair = "*"
seaborn = "*"
numpy = "*"
ipyleaflet = "*"
vega-datasets = "*"
itables = "*"
shiny = "*"
plotly = "*"
pathlib = "*"
nbformat = "*"
statsmodels = "*"
plotnine = "*"
palmerpenguins = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
