[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
ipython = "*"
tabulate = "*"
great-tables = "*"
pandas = "*"
altair = "*"
seaborn = "*"
numpy = "*"
ipyleaflet = "*"
vega-datasets = "*"
itables = "*"
shiny = "*"
plotly = "*"
pathlib = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
