
@media (min-width: 991.98px) {
#quarto-header {
  border-bottom: 1px solid #dee2e6;
}
}

.navbar #quarto-search {
  width: 150px;
}

.navbar-brand > img {
  max-height: 36px;
}


.platform-table td {
  vertical-align: middle;
}

.platform-table td > div.sourceCode {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
