
.sidebar-logo {
  max-width: 150px;
}

.sidebar-title {
  font-size: 1.7rem;
}

.platform-table td {
  vertical-align: middle;
}

.platform-table td > div.sourceCode {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
