/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

// The Cosmo theme sets defaults for hover. Clear the defaults to allow
// our coloring system to handle this
$navbar-dark-hover-color:       null;
$navbar-light-hover-color:      null;
