/*-- scss:defaults --*/

$blue: #447099;
$red: #D44000;
$orange: #EE6331;
$yellow: #E7B10A;
$green: #72994E;
$teal: #419599;
$cyan: #75A8D9;
$black: #000;
$white: #fff;
$gray: #404041;
$gray-dark: #343a40;
$gray-100: #f8f8f8;
$gray-200: #C2C2C4;
$gray-300: #949494;
$gray-400: #707073;
$gray-500: #495057;
$gray-600: #404041;
$gray-700: #333333;
$gray-800: #242426;
$gray-900: #151515;
$default: $gray-900;
$primary: $cyan;
$secondary: $gray-400;
$success: $green;
$info: $yellow;
$warning: $orange;
$danger: $red;



// Base document colors
$body-bg: $gray-900;
$body-color: $gray-100;
$link-color: $cyan;

$light: rgb(32.4,32.4,34.2);

// Navigation element colors
/*$footer-bg: shade-color($gray-800, 30%);*/
/*$navbar-bg: shade-color($gray-800, 30%);*/
$footer-bg: $gray-900;
$navbar-bg: shade-color($gray-800, 10%);
 

// Code blocks
$code-block-bg-alpha: -.9;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
$dropdown-bg: $body-bg;
$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: #eee;
$nav-tabs-link-hover-border-color: rgb(80, 80, 80);

$border-color: rgba($gray-800, 0.5);

$mono-background-color: rgba(0,0,0,0);
$code-color: rgb(192, 128, 216);
$nav-tabs-link-active-color: $body-color;
$toc-inactive-border: rgba($gray-800, 0.5);
$input-text-background-color: $gray-800;
$input-group-addon-bg: $gray-800;
$carousel-dark-caption-color: $body-color;
$pagination-disabled-bg: rgb(24,24,24);

$text-muted: lighten(#6a737b, 20%);

/*-- scss:rules --*/

/*Homepage custom css overrides */

/* homepage hero link accessibiility hack to make contrast 4.5:1 */

.hero-banner a:not(.btn) {
/*color: tint-color($cyan, 2%);*/
color: #D1DBE5;
}

.hero-banner .btn-action-primary, .get-started .btn-action-primary {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  color: $dark;
}

.hero-banner .btn-action-primary:hover, .get-started .btn-action-primary:hover {
  background-color: #D1DBE5;
  border: 1px solid #f8f8f8;
  color: $dark;
}

.hero-banner .btn-secondary {
  background-color: transparent;
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
}

.hero-banner .btn-secondary:hover {
  background-color: #305775;
}

.hello-quarto-banner .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border: none;
  border-bottom: 2px solid #ffffff !important;
  color: #ffffff !important;
  background-color: transparent;  
}

.hello-quarto-banner .nav-link {
  color: #ffffff !important;
}

.bg-color {
  background-color: $body-bg;
}

.hello-output {
  border: 1px solid $gray-700;
}


body.quarto-light .alt-background {
  background-color: #17212B;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}


.layout-example {
  background: $gray-700;
}

.hello-quarto-banner h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// h2, .h2 {
//   border-bottom-color: #666;
// }

.code-with-filename .code-with-filename-file pre {
  color: #ddd;
}

pre code {
  color: $body-color;
}

figcaption code,
dl code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: $mono-background-color;
}

details > summary {
  color: $text-muted;
}

#quarto-announcement {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: $white;
  background-color: #ff0039; 
}

#quarto-announcement a {
  color: $white;
}

/*Footer Posit logo color for dark mode*/

img.footer-logo {
  color: #ffffff;
}

/* Supported by Posit badge in navbar */

body.quarto-dark #supported-by-posit:hover {
   background-color: #2C2C2D;
}