/*-- scss:defaults --*/

$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$footer-bg: #181818;

$navbar-bg: #303030;

// The cosmo theme is explicitely overriding this
// so we set this here as well
$navbar-light-hover-color: white;

$sidebar-bg: #303030;

$code-block-bg-alpha: -.80;

$popover-bg: #242424;
$input-bg: #242424;
