.btn-action-primary {
  color: white;
  background-color: #447099;
}

.btn-action-primary:hover {
  background-color: #305775;
  color: white;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}

