span.color-box-container {
  display: inline-flex;
  align-items: center; /* Align vertically */
}

span.color-box {
  display: inline-block;
  width: 1em; /* Width of the color box */
  height: 1em; /* Height of the color box */
  margin-right: 0.2em; /* Space between box and text */
  border: 1px solid #000; /* Border color */
}
