

.download-text {
  font-size: 1.1em;
  font-weight: 500;  
}

.preview-image-grid {
  gap: .75em;
}

.preview-image-grid p {
  margin-bottom: 0;
}

.preview-image-label {
  text-align: center;
  font-size: .75em;
  font-weight: 600;
}

.illustration {
  border: 1px solid #dee2e6;
}

