
@media (min-width: 1020px) {
.navbar-brand-container {
  margin-right: 1em;
}
}



@media (max-width: 1060px) and (min-width: 991.98px) {

#navbarCollapse ul:last-of-type a.nav-link {
  padding-left: .25em;
  padding-right: .25em;
}

.navbar #quarto-search {
  margin-left: .1em;
}

.navbar .bi-twitter,
.navbar .bi-github,
.navbar .bi-rss
 {
  font-size: .8em;
}
}


@media (min-width: 991.98px) {
body.quarto-light #quarto-header {
  border-bottom: 1px solid #dee2e6;
}
body.quarto-dark #quarto-header {
  border-bottom: 1px solid #3b3f47;
}
}

.navbar-brand > img {
  max-height: 36px;
}

