.step {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.step h2 {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.step h4 {
  margin-top: 0;
}

.step #download-button {
  margin-top: 0;
  padding-top: 0;
}

.step .btn-action {
  font-size: 1.1em;
}

.step .btn-action svg {
  margin-top: 5px;
}

.step .table>:not(caption)>*>* {
  border-bottom-width: 0;
}
