

@media (min-width: 992px) {
  body {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}


#title-block-header {
  margin-bottom: 0;
}

h2 {
  margin-top: 1rem;
}

.card a {
  text-decoration: none;
}

.card .source-code {
  margin-top: 3px;
}