
.tab-content[data-group="language"] h3 {
  margin-top: 0;
}

.tab-content[data-group="language"] {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.chart-example {
  margin-bottom: 1em;
}

.chart-example pre {
  min-width: 350px;
}

.chart-example img {
  width: 375px;
  min-width: 375px;
}

@media only screen and (max-width: 1180px) {
  .chart-example pre {
     min-width: 250px;
     font-size: 0.7em;
  }

  .chart-example img {
    width: 250px;
    min-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .chart-example pre {
     min-width: 200px;
     font-size: 0.6em;
  }

  .chart-example img {
    width: 200px;
    min-width: 200px;
  }
}



.chart-example div.sourceCode {
  margin: 0;
}

.chart-example .quarto-layout-cell > p {
  margin-top: 0;
}

